node_modules/

uploads/playlists/**.jpg
uploads/playlists/**.jpeg
uploads/playlists/**.png

uploads/songs/**.jpg
uploads/songs/**.jpeg
uploads/songs/**.png

uploads/users/**.jpg
uploads/users/**.jpeg
uploads/users/**.png
